
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-white p-0 rounded shadow overflow-hidden">
  <div class="relative">
    <img src="/images/banners/hero.jpg" class="w-100" alt="Hero banner" />
    <div class="absolute top-0 left-0 p-4 text-white">
      <h1 class="display-6">Discover Movies, Theaters & Showtimes</h1>
      <p>Book seats instantly, apply promo codes, and get your tickets.</p>
    </div>
  </div>
  <div class="p-4">
    <h2 class="mb-3">Now Showing</h2>
    <div class="row g-3">
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <img src="/images/posters/inception.png" class="card-img-top" alt="Inception" />
          <div class="card-body">
            <h5 class="card-title">Inception</h5>
            <a class="btn btn-sm btn-primary" href="/Movies">Details</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <img src="/images/posters/interstellar.png" class="card-img-top" alt="Interstellar" />
          <div class="card-body">
            <h5 class="card-title">Interstellar</h5>
            <a class="btn btn-sm btn-primary" href="/Movies">Details</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card h-100">
          <img src="/images/posters/darkknight.png" class="card-img-top" alt="The Dark Knight" />
          <div class="card-body">
            <h5 class="card-title">The Dark Knight</h5>
            <a class="btn btn-sm btn-primary" href="/Movies">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
